:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCF0DC;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.nav {
  height: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #FCF0DC;
}
.nav__img {
  width: 5rem;
  padding-left: 2rem;
}
.nav__ttl {
  color: #6C491F;
  font-size: 3rem;
  padding-left: 2rem;
  font-family: "Uncial Antiqua";
}

.cart {
  background-image: url(/img/parchemin.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.cart__ttl {
  color: #6C491F;
  font-size: 2rem;
  text-align: center;
  border-bottom: 0.2rem solid #6C491F;
}
.cart__wrap {
  color: #6C491F;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  bottom: 3rem;
}
.cart__pieces {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.cart__total {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.cart__img {
  width: 3rem;
}
.cart__list {
  overflow: scroll;
  height: 80vh;
}

.itm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
  color: #6C491F;
  gap: 2rem;
  width: 100%;
}
.itm__wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 8rem;
}
.itm__img {
  width: 3rem;
}
.itm__img--bin {
  width: 2rem;
}
.itm__ttl {
  font-size: 1.3rem;
}
.itm__qty {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.itm__input {
  width: 3rem;
  border-radius: 0.2rem;
  border: none;
}
.itm__button {
  border: none;
  background: none;
  font-size: 2.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #6C491F;
}
.container__ttl {
  color: #FCF0DC;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}
.container__flex {
  display: flex;
  position: relative;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
  justify-content: center;
  background-color: #6C491F;
}

.card {
  width: 17%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #FCF0DC;
  border: 4mm ridge rgba(255, 215, 0, 0.6);
  box-shadow: 5px 3px 3px black;
}
.card__ttl {
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
  text-transform: capitalize;
}
.card__img {
  height: 4rem;
  margin: 1rem auto;
}
.card__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__sc, .card__gc {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: centers;
}
.card__coins {
  width: 1.5rem;
}
.card__btn {
  background: none;
  border: none;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 50px;
  width: 5rem;
  margin-bottom: -2rem;
}
.card__btn :hover {
  cursor: grab;
  transform: scale(1.2);
  transition: 300ms;
}
.card__img--cart {
  height: 3.5rem;
  border-radius: 50px;
  width: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #A80126;
  box-shadow: 5px 3px 3px black;
  padding: 0.6rem;
}

.searchbar__input {
  background-color: white;
  margin: 1rem;
  height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 2rem;
  border: 2px solid black;
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */