.cart {
    position: relative;
    background-image: url(/img/parchemin.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__ttl{
        color: $lightgrey;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 1.5rem;
    }
    &__wrap{
        color: $lightgrey;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.2rem;
        position: absolute;
        width: 100%;
        bottom: 3rem;
    }
    &__pieces{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    &__total{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    &__img{
        width: 3rem;
    }
}
