.cart{
    width: 30%;
    height: 85vh;
    background-color: $brown;
    position: relative;
    // border-radius: 1rem;
}

.cart__ttl{
    color: $lightgrey;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
}

.cart__wrap{
    color: $lightgrey;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    bottom: 2rem;
    left: 3rem;
}

.cart__pieces{
 display: flex;
 gap: 2rem;
 justify-content: center;
}