.container {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    background-color: $brown;
    // margin: 0 3rem;
    &__ttl{
        color: $beige;
        font-size: 2rem;
        text-align: center;
    }
    &__flex{
        display: flex;
        position: relative;
    }
}