.container {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    background-color: $brown;
    // background-image: url(../img/wood2.png);
    margin: 0 3rem;
    &__ttl{
        color: $beige;
        font-size: 2.8rem;
        margin: 2rem 0 0 0;
        text-align: center;
    }
    &__flex{
        display: flex;
        position: relative;
    }
}