.nav{
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;

    background-color: $beige;
    &__img{
        width: 5rem;
        padding-left: 2rem;
    }
    &__ttl{
        color: $brown;
        font-size: 3rem;
        padding-left: 2rem;
        font-family: 'Uncial Antiqua';

    }
}