.nav{
    height: 15vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: $beige;
    &__img{
        width: 7rem;
        padding-left: 2rem;
    }
    &__ttl{
        color: $brown;
        font-size: 3rem;
        padding-left: 2rem;
        font-family: 'Uncial Antiqua';

    }
}