
.searchbar__input {
    background-color: $beige;
    // margin: 1rem;
    // max-width: 88rem;
    width: 30%;
    height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    // text-align: center;
    border-radius: 2rem;
    border: 2px solid black;
    margin-left: 2rem;
  }